@font-face {
  font-family: "Electro";
  src: url("ElectroHolic-z8z8G.ttf") ;
}

.title{
  font-family: "Electro";
  font-size: 5rem;
  color: #ff58f7;
}

.col-md-6{
  margin-bottom: 1rem;
}

.card{
  height: 21rem;
  background-color: #73718081;
  border: 1px #e595fd96 solid;
  border-radius: 20px;
}

body{
  background-color: #414141;
}
span{
  color:#88d9ffd2;
}


/* Change the color of the dataset label */
#price-chart + div .chartjs-legend-text {
  color: red !important;
}
